@using Inscripciones.Models.Inscripciones
@model DetalleInscripcion

@{
    ViewData["Title"] = "Details";
}

<h1 class="detalle">Detalle</h1>

<div>
    <h4>Detalle Inscripcion:</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModalidadCursado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModalidadCursado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Inscripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inscripcion.Inscripto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Materia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Materia.Nombre)
        </dd>
    </dl>
</div>
<div>
    <a class="editar" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a class="volverLista" asp-action="IndexPorInscripcion">Volver a la lista</a>
</div>
