@using Inscripciones.Models.Commons
@model Alumno

@{
    ViewData["Title"] = "Details";
}

<h1 class="detalle">Detalle</h1>

<div>
    <h4>Alumno:</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    <a class="editar" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a class="volverLista" asp-action="Index">Volver a la lista</a>
</div>
