@model IEnumerable<Inscripciones.Models.Alumno>

@{
    ViewData["Title"] = "Alumnos";
}
<link rel="stylesheet" href="/css/alumnos.css" />

<h1>LISTA DE ALUMNOS</h1>

<hr />

<div class="form-group">
    <input type="text" id="searchString" class="form-control" placeholder="Buscar por nombre..." oninput="searchAlumnos()" />
    <button type="button" class="btn-limpiar " onclick="clearSearch()">Limpiar</button>
</div>

<p class="crear-alumno">
    <a class="crear" asp-action="Create">Crear nuevo alumno</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="alumnosTableBody">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td >
                    <a class="editar" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a class="detalle" asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a class="eliminar" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>


@section Scripts {
    <script src="~/js/alumnos.js"></script>
}
