@using Inscripciones.Models.Commons
@model IEnumerable<Carrera>

@{
    ViewData["Title"] = "Carreras";
}

<link rel="stylesheet" href="/css/carreras.css" />

<h1>LISTA DE CARRERAS</h1>

<hr />

<p>
    <a class="crear" asp-action="Create">Crear nueva carrera</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a class="enlaceNew" asp-controller="AnioCarreras" asp-action="Index" asp-route-idCarrera="@item.Id">Años</a>|
                    <a class="editar" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a class="detalle" asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a class="eliminar" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}

    </tbody>
</table>

<div>
    <a class="volverLista" asp-controller="home" asp-action="Index">Volver a Inicio</a>
</div>
