@using Inscripciones.Models.Commons
@model IEnumerable<Materia>

@{
    ViewData["Title"] = "Materias";
}

<link rel="stylesheet" href="/css/materias.css" />

<h1>LISTA DE MATERIAS</h1>

<hr />

<p>
    <a class="crear" asp-action="Create">Crear nueva materia</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnioCarrera)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnioCarrera.Nombre)
            </td>
            <td>
                    <a class="editar" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a class="detalle" asp-action="Details" asp-route-id="@item.Id">Detalle</a> |
                    <a class="eliminar" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
